@keyframes BlurInBg {
  from {filter: blur(0px) brightness(100%);}
  to {filter: blur(5px) brightness(80%);}
}

@keyframes BlurOutBg {
  from {filter: blur(5px) brightness(80%);}
  to {filter: blur(0px) brightness(100%);}
}

@keyframes RotatingBG {
  to {transform: rotate(270deg);}
}

.displayNone {
  display: none !important;
}

body, html {
  width: 100vw;
  height: 100vh;
  overflow: clip;
}

div.bodyDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

img.rotationg-bg {
  width: 100%;
  height: 100%;
  filter: blur(0px) brightness(100%);
}

.bg-wrapper {
  position: fixed;
  width: 335vw;
  height: 335vw;
  left: -168%;
  top: -197%;
  z-index: -1;
  background-color: #252F3A;
  transform: rotate(0deg);
}

.rotationAnimate {
  animation-name: RotatingBG;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

img.blurInAnimate {
  animation-name: BlurInBg;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

img.blurOutAnimate {
  animation-name: BlurOutBg;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

